{% extends "base_court_admin.html" %}

{% load i18n %}

{% block page_title %}{% blocktrans %}Password changed{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}

    <header class="success-header" role="alert">
        <h1 class="ticked">{% blocktrans %}Password changed{% endblocktrans %}</h1>
    </header>

    <header class="content-header">
        <p>{% blocktrans %}You have successfully changed your password.{% endblocktrans %}</p>

        <a class="button" href="{% url "password_change" %}">Go to settings</a>
    </header>

{% endblock %}
