{% load i18n data_row humanize %}

    {% data_row row_tag _("You are") _(your_finances.you_are) %}

    {% if your_finances.you_are == "Employed" %}
        {% data_row row_tag _("You get paid") _(your_finances.employed_take_home_pay_period) %}

        {% data_row row_tag _("Amount") your_finances.employed_take_home_pay_amount|floatformat:2|intcomma %}
    {% endif %}

    {% if your_finances.you_are == "Self-employed" %}
        {% if your_finances.self_employed_pay_period == "Self-employed other" %}
            {% data_row row_tag _("You get paid") _("Other") %}
        {% else %}
            {% data_row row_tag _("You get paid") _(your_finances.self_employed_pay_period) %}
        {% endif %}

        {% if your_finances.self_employed_pay_period == "Self-employed other" %}
            {% data_row row_tag _("Details") your_finances.self_employed_pay_other|linebreaksbr|default:"-" %}
        {% endif %}

        {% data_row row_tag _("Amount") your_finances.self_employed_pay_amount|floatformat:2|intcomma %}
    {% endif %}

    {% if your_finances.you_are == "Receiving benefits" %}
        {% data_row row_tag _("Your benefits") your_finances.benefits_details|linebreaksbr %}

        {% if your_finances.benefits_period == "Benefits other" %}
            {% data_row row_tag _("You get paid") _("Other") %}
        {% else %}
            {% data_row row_tag _("You get paid") _(your_finances.benefits_period) %}
        {% endif %}

        {%  if your_finances.benefits_period == "Benefits other" %}
            {% data_row row_tag _("Details") your_finances.benefits_pay_other|linebreaksbr|default:"-" %}
        {% endif %}

        {% data_row row_tag _("Amount") your_finances.benefits_amount|floatformat:2|intcomma %}

        {% data_row row_tag _("Includes payment for dependents?") your_finances.benefits_dependents|yesno:_("Yes,No (v1)") %}
    {% endif %}

    {% if your_finances.you_are == "Other" %}
        {% data_row row_tag _("Details") your_finances.other_details|linebreaksbr %}

        {% data_row row_tag _("Amount") your_finances.other_pay_amount|floatformat:2|intcomma %}
    {% endif %}

    {% data_row row_tag _("Financial hardship") your_finances.hardship|yesno:_("Yes,No (v3)") %}
