{% load i18n humanize data_row testing %}

{% add_test_tag "<<SHOWCOMPANYFINANCES>>" %}

{% data_row row_tag _("Trading for more than 12 months") company_finances.trading_period|yesno:_("Yes,No (v1)") %}

{% data_row row_tag _("Number of employees") company_finances.number_of_employees|intcomma %}

{% if row_tag == "tr" %}
<tr>
    <td colspan="2">
        <h3>{% if company_finances.trading_period %}{% blocktrans %}From the most recent audited company accounts{% endblocktrans %}{% else %}{% blocktrans %}From the first 12 months' trading projections{% endblocktrans %}{% endif %}</h3>
    </td>
</tr>
{% else %}
<h3 class="font-medium">{% if company_finances.trading_period %}{% blocktrans %}From the most recent audited company accounts{% endblocktrans %}{% else %}{% blocktrans %}From the first 12 months' trading projections{% endblocktrans %}{% endif %}</h3>
{% endif %}

{% data_row row_tag _("Gross turnover") "£"|add:company_finances.gross_turnover|intcomma %}

{% data_row row_tag _("Net turnover") "£"|add:company_finances.net_turnover|intcomma %}

