{% load i18n data_row testing humanize %}

{% add_test_tag "<<SHOWINGEXPENSES>>" %}

{% data_row row_tag _("Financial hardship details") hardship.hardship_details|linebreaksbr %}

{% data_row row_tag _("Other contributors to household bills") household_expenses.other_bill_payers|yesno:_("Yes,No (v3)") %}

{% data_row row_tag _("Total household expenses") your_expenses.total_household_expenses|floatformat:2|intcomma %}

{% data_row row_tag _("Total other expenses") your_expenses.total_other_expenses|floatformat:2|intcomma %}

{% data_row row_tag _("Total expenses") your_expenses.total_expenses|floatformat:2|intcomma %}
