{% extends "base_court_admin.html" %}

{% load i18n %}
{% load form_widgets %}

{% block page_title %}{% blocktrans %}Forgotten password{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}

    {% if form.errors %}
    <section class="error-summary" role="alert">
        <h1 class="heading-medium">{% blocktrans %}You need to fix the errors on this page before continuing.{% endblocktrans %}</h1>

        <p>{% blocktrans %}See highlighted errors below.{% endblocktrans %}</p>

        <ul>
        {% for field in form %}
            {% if field.errors %}
            <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    <header class="content-header">
        <h1>{% blocktrans %}Forgotten password{% endblocktrans %}</h1>

        <p>To reset your password, enter your registered HMCTS email below and we will email you a link to reset it.</p>
    </header>

    <form method="post" action="{{ request.path }}" autocomplete="off" novalidate>
        {% csrf_token %}

        {% std_field form.email %}

        <div class="form-submit">
            <button class="button" type="submit">{% blocktrans %}Submit{% endblocktrans %}</button>
        </div>
    </form>

    <p><a href="{% url "login" %}">Back to sign in</a></p>

{% endblock %}
