{% extends "base_court_admin.html" %}

{% load i18n %}

{% block page_title %}{% blocktrans %}Registration success{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}

    <header class="success-header" role="alert">
        <h1 class="ticked">{% blocktrans %}Registration success{% endblocktrans %}</h1>
    </header>

    <header class="content-header">
        <p>Thanks for registering. You can now <a href="{% url 'login' %}">login</a> with your chosen credentials.</p>
    </header>

{% endblock %}
