{% extends "base_court_admin.html" %}

{% load i18n %}

{% block page_content %}

    {% if form.errors %}
    <section class="error-summary" role="alert">
        <h1 class="heading-medium">{% blocktrans %}You need to fix the errors on this page before continuing.{% endblocktrans %}</h1>

        <p>{% blocktrans %}See highlighted errors below.{% endblocktrans %}</p>

        <ul>
        {% for field in form %}
            {% if field.errors %}
            <li><a href="#section_{{ field.name }}">{{ field.errors|striptags }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    <header class="content-header">
        <h1>{% block dash_title %}Dashboard{% endblock %}</h1>
    </header>

    {% block tabs_nav %}{% endblock %}

    {% block dash_content %}{% endblock %}

{% endblock page_content %}
