{% extends "moj_template/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load waffle_tags %}

{% block cookie_message %}

{% endblock %}

{% block licence_message %}
    <p>{% blocktrans %}All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated{% endblocktrans %}</p>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/application.css" %}">
    <!--[if IE 6]><link href="{% static "stylesheets/application-ie6.css" %}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="{% static "stylesheets/application-ie7.css" %}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="{% static "stylesheets/application-ie8.css" %}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
{% endblock %}

{% block before_content %}

{% endblock %}

{% block content %}
    {%  if messages %}
        {% for message in messages %}
            
            {% if "success" in message.tags %}
            <section class="success-header">
                <p class="ticked">{{ message }}</p>
            </section>
            {% endif %}

            {% if "error" in message.tags %}
            <section class="error-summary">
                {% if "session_timeout" in message.tags %}
                <h2>{% blocktrans %}Session timeout{% endblocktrans %}</h2>
                <p>{% blocktrans %}Your session has expired, re-enter your details and try again.{% endblocktrans %}</p>
                {% else %}
                {{ message|safe }}
                {% endif %}
            </section>
            {% endif %}
            
        {% endfor %}
    {% endif %}

    {% block page_content %}{% endblock %}

{% endblock %}

{% block footer_support_links %}

{% endblock %}

{% block javascripts %}

{% endblock %}


{% block body_end %}
{% if google_analytics_id %}
{% endif %}
{% endblock %}
