{% extends "base.html" %}

{% block content %}

<h1>Court users</h1>

{% include "messages.html" %}

{% if users %}
<table>
    <tr>
        <th>username</th>
        <th>email</th>
        <th>name</th>
        <th>active?</th>
        <th>court/region</th>
        <th></th>
    </tr>
    {% for user in users %}

    {% comment %}

    Need to subclass the user model to add an user.is_invite() method or something

    {% endcomment %}

    <tr>
        <td>{% if user.is_active %}{{ user.username }}{% else %}PENDING INVITE{% endif %}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.is_active|yesno }}</td>
        <td>{{ user.courtadminprofile.court.court_name }}</td>
        <td>
            {% if not user.is_active %}
            <form method="post" action="{{ request.path }}">{% csrf_token %}
                <input type="hidden" name="id" value="{{ user.id }}">
                <input type="hidden" name="action" value="resend">
                <button>Resend invite</button>
            </form>
            <form method="post" action="{{ request.path }}">{% csrf_token %}
                <input type="hidden" name="id" value="{{ user.id }}">
                <input type="hidden" name="action" value="delete">
                <button>Delete invite</button>
            </form>
            {% else %}
                <button>Edit user</button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}

    <p>There are currently no court users. You can <a href="{% url 'invite_users' %}">invite</a> new users.</p>

{% endif %}

{% endblock %}