{% extends "base_court_admin.html" %}

{% block javascripts %}
    {{ block.super }}

    <script>

        function updatePostalTotals(){
            $(".response_total").each(function(i, obj){

                var idx = $(this).attr("rel");

                var guilty = $('#id_form-' + idx + '-postal_guilty_pleas').val();
                var not_guilty = $('#id_form-' + idx + '-postal_not_guilty_pleas').val();

                if(Math.floor(guilty) == guilty && Math.floor(not_guilty) == not_guilty){
                    $(this).html(parseInt(guilty) + parseInt(not_guilty));
                }
            });
        }

        $(document).ready(function(){
           $("#court-selector").change(function(){
               window.location = $(this).val();
           });
        });

        $(document).ready(function() {
            updatePostalTotals();

            $('input[type=number]').change(updatePostalTotals);
        });

    </script>
{% endblock %}

{% block page_content %}

<style>

    table.default td {
        padding: 5px;
        border: 1px solid black;
        text-align: center;
    }

    table.default td input {
        padding: 5px;
    }

    table.default tr.require-data td{
        background-color: #FFE4E1;
    }

</style>

<table>
    <tr>
        <td>
            {% if user.is_superuser %}
            <select id="court-selector">
                {% for court in courts %}
                <option value="{% url 'usage_stats' court_id=court.id %}" {% if selected_court == court %}selected="selected" {% endif %}>
                    {{ court.court_name }}
                </option>
                {% endfor %}
            </select> |

            <a href="{% url 'invite_users' %}">Invite users</a> |
            <a href="{% url 'court_admin_list' %}">View users</a>
            {% endif %}
        </td>
        <td style="text-align: right">
            You are logged in as: {{ user.email }} |
            <a href="{% url 'logout' %}">logout</a> |
            <a href="{% url 'password_change' %}">change password</a>
        </td>
    </tr>
</table>



<p>
    Your court/region is: {{ selected_court.court_name }}
</p>


{% include "messages.html" %}


<form method="post" action="{{ request.path }}">
    {{ formset.management_form }}
    <table class="default">
        <tr>
            <th>Start Date</th>
            <th>Week number</th>
            <th>Online submissions</th>
            <th>Online guilty pleas</th>
            <th>Online not guilty pleas</th>
            <th>Postal requisitions</th>
            <th>Postal guilty pleas</th>
            <th>Postal not guilty pleas</th>
            <th>Total postal pleas</th>
        </tr>
        {% for form in formset %}
        {% with data=form.instance %}
        {{ form.id }}
        <tr {% if not data.has_court_data %}class="require-data"{% endif %}>
            <td>{{ data.start_date|date:"d M Y" }}</td>
            <td>{{ data.start_date|date:"W" }}</td>
            <td>{{ data.online_submissions }}</td>
            <td>{{ data.online_guilty_pleas }}</td>
            <td>{{ data.online_not_guilty_pleas }}</td>
            <td>{{ form.postal_requisitions }}</td>
            <td>{{ form.postal_guilty_pleas }}</td>
            <td>{{ form.postal_not_guilty_pleas }}</td>
            <td rel="{{ forloop.counter0 }}" class="response_total"></td>
        </tr>
        {% endwith %}
        {% endfor %}
    </table>
    <p>
        <button type="submit" class="button">Save</button>
    </p>
    {% csrf_token %}
</form>

{% endblock %}
