{% extends "base_court_admin.html" %}

{% load i18n %}

{% block page_title %}{% blocktrans %}Details submitted{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block page_content %}

    <header class="success-header" role="alert">
        <h1 class="ticked">{% blocktrans %}Submission successful{% endblocktrans %}</h1>
    </header>

    <header class="content-header">
        <p>{% blocktrans %}Instructions for resetting your password have been sent to the HMCTS email address you provided.{% endblocktrans %}</p>

        <a class="button" href="{% url 'login' %}">Go to login</a>
    </header>

{% endblock %}
