{% extends "base_court_admin_dashboard.html" %}

{% load i18n %}

{% block page_title %}{% blocktrans %}Overview{% endblocktrans %} - {{ block.super }}{% endblock %}

{% block dash_title %}Dashboard{% endblock %}

{% block tabs_nav %}
<nav class="tabs-menu">
    <ul>
        <li><a class="active" href="{% url "dashboard" %}">{% blocktrans %}Overview{% endblocktrans %}</a></li>
        <li><a href="{% url "postal_requisitions" %}">{% blocktrans %}Postal requisitions{% endblocktrans %}</a></li>
        <li><a href="{% url "sjp_notices" %}">{% blocktrans %}SJP notices{% endblocktrans %}</a></li>
    </ul>
</nav>
{% endblock tabs_nav %}

{% block dash_content %}

    <h2>Overview</h2>

<style>

    table.default td {
        padding: 5px;
        border: 1px solid black;
        text-align: center;
    }

    table.default td input {
        padding: 5px;
    }

    table.default tr.require-data td{
        background-color: #FFE4E1;
    }

</style>

<table>
    <tr>
        <td>
            {% if user.is_superuser %}
            <select id="court-selector">
                {% for court in courts %}
                <option value="{% url 'dashboard' court_id=court.id %}" {% if selected_court == court %}selected="selected" {% endif %}>
                    {{ court.court_name }}
                </option>
                {% endfor %}
            </select> |

            <a href="{% url 'invite_user' %}">Invite user</a> |
            <a href="{% url 'users' %}">View users</a>
            {% endif %}
        </td>
        <td style="text-align: right">
            You are logged in as: {{ user.email }} |
            <a href="{% url 'logout' %}">logout</a> |
            <a href="{% url 'password_change' %}">change password</a>
        </td>
    </tr>
</table>



<p>
    Your court/region is: {{ selected_court.court_name }}
</p>


{% include "messages.html" %}


<form method="post" action="{{ request.path }}">
    {{ formset.management_form }}
    <table class="default">
        <tr>
            <th>Start Date</th>
            <th>Week number</th>
            <th>Online submissions</th>
            <th>Online guilty pleas</th>
            <th>Online not guilty pleas</th>
            <th>Postal requisitions</th>
            <th>Postal guilty pleas</th>
            <th>Postal not guilty pleas</th>
            <th>Total postal pleas</th>
        </tr>
        {% for form in formset %}
        {% with data=form.instance %}
        {{ form.id }}
        <tr {% if not data.has_court_data %}class="require-data"{% endif %}>
            <td>{{ data.start_date|date:"d M Y" }}</td>
            <td>{{ data.start_date|date:"W" }}</td>
            <td>{{ data.online_submissions }}</td>
            <td>{{ data.online_guilty_pleas }}</td>
            <td>{{ data.online_not_guilty_pleas }}</td>
            <td>{{ form.postal_requisitions }}</td>
            <td>{{ form.postal_guilty_pleas }}</td>
            <td>{{ form.postal_not_guilty_pleas }}</td>
            <td rel="{{ forloop.counter0 }}" class="response_total"></td>
        </tr>
        {% endwith %}
        {% endfor %}
    </table>
    <p>
        <button type="submit" class="button">Save</button>
    </p>
    {% csrf_token %}
</form>

{% endblock %}
