{% extends "base_form.html" %}

{% load i18n %}
{% load form_widgets %}
{% load widget_tweaks %}

{% block page_title %}{% blocktrans %}Your expenses{% endblocktrans %} - {{ block.super }}{% endblock %}


{% block stage_header %}
    <h1 class="heading-xlarge">{% blocktrans %}Your expenses{% endblocktrans %}</h1>

    <p class="lede">{% blocktrans %}To help the court make a decision about your payment terms, you must provide information about your expenses.{% endblocktrans %}</p>
{% endblock stage_header %}


{% block stage_form %}

    <h2 class="font-large header-line"><span>{% blocktrans %}Household expenses{% endblocktrans %}</span></h2>

    <p>{% blocktrans %}What are your monthly household bills for the following?{% endblocktrans %}</p>

    <div class="grid-row">
        <div class="column-half">
            {% std_field form.household_accommodation|attr:"class:form-control-inline"|attr:"pattern:[0-9]*" hide_optional=True prefix="£" %}
        </div>
        <div class="column-half">
            {% std_field form.household_utility_bills|attr:"class:form-control-inline"|attr:"pattern:[0-9]*" hide_optional=True prefix="£" %}
        </div>
    </div>

    <div class="grid-row">
        <div class="column-half">
            {% std_field form.household_insurance|attr:"class:form-control-inline"|attr:"pattern:[0-9]*" hide_optional=True prefix="£" %}
        </div>
        <div class="column-half">
            {% std_field form.household_council_tax|attr:"class:form-control-inline"|attr:"pattern:[0-9]*" hide_optional=True prefix="£" %}
        </div>
    </div>

    {% radio_field form.other_bill_payers inline=True %}

{% endblock stage_form %}
